* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fourth-color);
}
:root {
    --primary-color: #4B47B2 ; /* roxo Escuro*/
    --secondary-color: #6C63FF ; /* roxo Claro*/
    --third-color: #9D00FF ; /* roxo Brilhante*/
    --fourth-color: #2E003E ; /* rosa */
}
.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
    margin: 20px;
}

.sub-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    margin-top:5%;
    color: #ffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    gap: 30px ;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    background-color: var(--secondary-color);
}

button:hover {
    background-color: var(--third-color);
    color: white;
    transition: .2s;
    transform: scale(1.1);
}


#out-put {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.delete, #edit {
    cursor: pointer;
}
.task {
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
}

#date {
    height: 30px;
    width: 15px;
    border-radius: 5px;
}
