* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#0303;
}
:root {
    --primary-color: #4B47B2 ; /* roxo Escuro*/
    --secondary-color: #6C63FF ; /* roxo Claro*/
    --third-color: #9D00FF ; /* roxo Brilhante*/
    --fourth-color: #2E003E ; /* rosa */
    
}
.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 20px;
}

.sub-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    margin-top:5%;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    gap: 30px ;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px 0;
    background-color:#ffff;
    border-radius: 5px;
    border: 1px solid #000000;
    gap: 20px  ;
}

#out-put {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.delete, #edit {
    cursor: pointer;
}
.task {
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
}

#date {
    height: 30px;
    width: 15px;
    border-radius: 5px;
}

.levels {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.range{
    cursor: pointer;
    width: 40px;
}

.range:hover {
    transform: scale(1.2);
    transition: .5s;
}


.options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.hight {
    background-color:#DC143C;
    width: 400px;
    height: 700px;
    border-radius: 10px;
}
.medium {
    background-color:#FFD700;
    width: 400px;
    height: 700px;
    border-radius: 10px;
}

.lower {
    background-color:#00A86B;
    width: 400px;
    height: 700px;
    border-radius: 10px;
}